.body{
    background-color:#0342a723;
}
.skeleton-table {
    display: table;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 5%;
  }
  
  .skeleton-table-row {
    display: table-row;
    margin-bottom: 20px;
  }
  
  .skeleton-table-row > .ant-skeleton-input {
    display: table-cell;
    padding: 8px;
    vertical-align: middle;
  }